[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "==9.0.1"
black = "==24.4.2"
blinker = "*"
click = "==8.1.7"
flask = "*"
flask-restful = "*"
gunicorn = "*"
isort = "==5.13.2"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.4"
markupsafe = "==2.1.5"
mypy-extensions = "==1.0.0"
packaging = "==24.1"
pathspec = "==0.12.1"
platformdirs = "==4.2.2"
python-dotenv = "*"
pytz = "==2024.1"
simplejson = "*"
six = "==1.16.0"
tomli = "==2.0.1"
typing-extensions = "==4.12.2"
watchdog = "*"
werkzeug = "==3.0.3"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
